version: '3.6'
services:
  simple_storage:
    build:
      context: .
      target: simple_storage
    ports:
      - "{{serverPort}}:{{serverPort}}"
    command: uvicorn {{packageName}}.main:app --host 0.0.0.0 --port {{serverPort}}
